.djangocms-admin-style,
.cms-admin-sideframe {

    &,
    p {
        font-family: "Noto Sans", 'Open Sans', 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
    }

    #header {
        padding: 0 !important;
        border-bottom: 1px solid #ccc;
        box-shadow: none;

        #header-logo {
            padding-left: 20px;
        }
    }


    // Layout -----------------------------------------------------------------

    #container,
    &.cms-admin-sideframe #container {

        .breadcrumbs {
            z-index: 10;
            position: fixed;
            top: 46px;
            left: 0 !important;
            right: 0 !important;
            box-sizing: border-box;
            margin: 0;
            padding: 10px 120px 10px 20px !important;
            background-color: #fff !important;
            border-bottom: 1px solid #ccc !important;
        }

        #content {
            margin: 0 !important;
            padding: 80px 20px 60px !important;

            .cms-pagetree-header {
                margin: 0;
            }
        }

        .breadcrumbs + #content,
        .breadcrumbs + .messagelist + #content {
            margin-left: 0 !important;
        }

        .breadcrumbs + #content {
            padding-top: 120px !important;
        }
    }

    &.dashboard {

        #container {

            #content-main {
                width: calc(100% - 240px);
                min-width: 1px;
                float: none;
            }

            #content-related {
                box-sizing: border-box;
                padding-top: 82px;

                .module {
                    padding: 0 20px 20px !important;
                }
            }
        }
    }


    // Change List ------------------------------------------------------------

    &.change-list {

        table {

            thead {

                th,
                th a {
                    font-weight: bold;
                    text-transform: none;
                }

                .sorted {

                    .text {
                        padding-right: 30px;
                    }
                }
            }
        }

        #changelist,
        #changelist.filtered {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;

            #toolbar {
                width: 100%;
                margin: 0 0 15px !important;
                padding: 0;

                #changelist-search {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                #searchbar {
                    box-sizing: border-box;
                    margin: 0;
                }

                input[type="submit"] {
                    box-sizing: border-box;
                    height: 34px;
                }
            }

            #changelist-filter {
                position: relative;
                left: auto;
                top: auto;
                box-sizing: border-box;
                width: 230px;
                max-height: none;
                order: 3;
                margin: 0;
                padding-left: 20px;
                float: none;
                background-color: transparent !important;
            }

            #changelist-form {
                width: auto;
                flex-grow: 1;
                flex-shrink: 1;
                box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
            }

            .actions {
                box-sizing: border-box;
                width: 100%;
                margin: 0 !important;
                padding: 5px 10px !important;
                background-color: #fff;
                border-bottom: 1px solid #eee;

                select {
                    margin: 0 10px 0 0 !important;
                }
            }

            .results {
                width: 100%;
                margin: 0 !important;
                box-shadow: none;
            }

            .paginator,
            .results + .paginator {
                position: relative;
                box-sizing: border-box;
                width: 100% !important;
                margin: 0 !important;
                box-shadow: none !important;
                clip: auto;
            }
        }
    }


    // Change Form ------------------------------------------------------------

    &.change-form {

        div.calendarbox {
            width: 260px !important;
            transform: translateX(-100%);
        }
        div.clockbox {
            transform: translateX(-100%);
        }

        form {
            box-sizing: border-box;
            padding: 0;

            #page_form_lang_tabs {
                margin: 0;
            }

            .module {

                h2 {
                    margin: 0;
                    padding: 14px 20px;
                    font-size: 14px !important;
                    font-weight: bold;
                    line-height: 1;
                    border: 0;
                    background-color: #ececec;
                }
            }

            fieldset {
                box-sizing: border-box;
                width: 100%;
            }

            .form-row {
                box-sizing: border-box;
                padding: 0 20px;
                margin: 20px 0;
                max-width: 100%;

                & > div {
                    box-sizing: border-box;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100% !important;
                }
            }

            label,
            label.aligned {
                box-sizing: border-box;
                width: 100% !important;
                margin-bottom: 2px;
                text-transform: none;
            }

            label.required,
            label.aligned.required {
                font-weight: 500 !important;
            }

            .form-row .checkbox-row {
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                margin: 0;

                label {
                    width: auto !important;
                    flex-grow: 1;
                    flex-shrink: 1;
                }
            }

            .calendar-shortcuts,
            span.datetimeshortcuts {
                padding: 0 !important;
            }

            .datetime input.vDateField,
            .datetime input.vTimeField,
            .form-row .datetime input.vDateField,
            .form-row .datetime input.vTimeField,
            input.vDateField,
            input.vTimeField {
                flex-grow: 1;
                flex-shrink: 1;
                width: auto !important;
            }

            .ckeditor-widget {
                width: 100%;
            }

            .submit-row {
                box-sizing: border-box;
                margin: 10px 0 0;
                padding: 10px 20px;
                position: fixed;
                z-index: 9;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: #fff !important;
                border-top: 1px solid #ccc !important;

                input[type="submit"],
                input[type="submit"].default,
                .deletelink-box .deletelink {
                    box-sizing: border-box;
                    height: 30px;
                    padding: 6px 10px !important;
                    font-size: 11px !important;
                }
            }
        }

        form .aligned p.help,
        form .aligned div.help,
        form .aligned input + p.help,
        form .aligned textarea + p.help,
        form .aligned select + p.help,
        form .aligned input + div.help,
        form .aligned textarea + div.help,
        form .aligned select + div.help {
            width: 100%;
            margin-left: 0 !important;
            padding: 3px 0;
            font-size: 12px;
        }
    }


    // Inlines ----------------------------------------------------------------

    .inline-group,
    .inline-group[data-inline-type="stacked"] {
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;

        .inline-related {
            margin: 8px 0;
            padding: 0 0 5px 0;
            box-shadow: none;
            background-color: #f9f9f9;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;

            h3 {
                display: flex;
                justify-content: flex-start;
                margin: 0 0 5px;
                padding: 8px 20px;
                border-top: 0;
                border-bottom: 1px dashed #ccc;

                b,
                span {
                    font-size: 14px;
                }

                .inline_label {
                    flex-grow: 1;
                }

                .inline-deletelink {
                    position: relative;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    text-indent: 0;

                    &:before {
                        margin: 0 0 0 10px;
                    }
                }

                .delete {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;

                    input {
                        top: auto;
                        margin: 0 0 0 10px;
                    }

                    label {
                        color: #0bf !important;
                        font-size: 14px !important;
                    }
                }
            }

            fieldset,
            fieldset.module {
                padding: 0 !important;

                .form-row {

                }
            }
        }

        .add-row {
            padding: 10px 20px;
            background-color: #f9f9f9 !important;
            border-top: 1px solid #ddd;
        }
    }


    // CMS overrides ---------------------------------------------------------

    &.cms-admin-modal #content,
    &.cms-admin-modal.filebrowser #content,
    &.cms_modal-window #content,
    &.cms_modal-window.filebrowser #content,
    &.popup #content,
    &.popup.filebrowser #content {
        margin: 0 !important;
    }

    &.cms-admin-modal #container #content,
    &.cms-admin-modal #container .breadcrumbs + #content,
    &.cms-admin-modal #container .breadcrumbs + .messagelist + #content,
    &.cms_modal-window #container .breadcrumbs + #content,
    &.cms_modal-window #container .breadcrumbs + .messagelist + #content,
    &.popup #container .breadcrumbs + #content,
    &.popup #container .breadcrumbs + .messagelist + #content {
        margin: 0 !important;
        padding: 0 !important;
    }

    &.cms-admin-modal form .checkbox-row,
    &.cms_modal-window form .checkbox-row,
    &.popup form .checkbox-row {
        padding: 0 !important;
    }

    &.cms-admin-modal .object-tools {
        margin: 5px 20px 0 0;

        .historylink,
        .viewsitelink {
            font-size: 12px;
            padding: 2px 12px !important;
        }
    }
}
